
@{
    ViewData["Title"] = "Admin portal";
}

<div class="row">
    <div class="col-12">
        <h2>Actions you can do in this web</h2>
    </div>
</div>
@*PROYECTO*@
<div class="row">
    <div class="col-4"></div>
    <div class="col-6">
        <h3>Proyecto</h3>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" asp-area="Paystub" asp-controller="Proyecto" asp-action="Index">Go</a>
    </div>
</div>

@*POSICION*@
<div class="row">
    <div class="col-4"></div>
    <div class="col-6">
        <h3>Posicion</h3>
    </div>
    <div class="col-2">
        <a class="btn btn-primary" asp-area="Paystub" asp-controller="Posicion" asp-action="Index">Go</a>
    </div>
</div>